<div id="icons">
<a href="mailto:hello@wurbanski.me"><i class="fas fa-at"></i></a>
<a href="https://t.me/wurbanski"><i class="fab fa-telegram"></i></a>
<a href="http://github.com/wurbanski" target="_blank"><i class="fab fa-github-alt"></i></a>
</div> 
